body, html {
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 2rem;
    padding: 2rem 2rem 0;
    border-bottom: solid 1px black;
    height: 4rem;
}
.dissappear {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 1s;
}
.communication {
    font-size: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.communication.done {
    margin-top: 0;
    transition: margin-top 1s;
}
.calculating {
    margin: auto auto 2rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.scanner {
    margin-bottom: 0;
    margin-top: auto;
    border-top: solid 1px black;
    height: 20vh;
    display: flex;
    overflow: hidden;
}
.scanner .finger-spot {
    margin: auto;
    height: 15vh;
    width: 15vh;
    background-image: url(assets/fingerprint.png);
    background-size: 90%;
    background-repeat: no-repeat;
}

.scanner.down {
    height: 0;
    transition: height 1s;
}

.results {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.result {
    display: flex;
    flex-direction: column;
}
.result .ball{
    height: 4rem;
    width: 4rem;
    background-color: white;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
}

.result .ball .percentage {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
}

.result .result-subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 auto;
}

.vitacoon {
    font-size: 3rem;
    margin: auto;
    color: white;
    display: none;
    opacity: 0;
    transition: opacity ease 1s;
    overflow-y: scroll;
}
.vitacoon img {
    padding: 23px 38px;
    background-color: white;
    border-radius: 50%;
    height: 115px;
    margin: 0 auto 1rem;
}

.coon-title {
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.coon-subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.description {
    font-size: 1rem;
}
.description span {
    font-weight: 300;
}

.hide {
    display: none;
}
.inactive {
    opacity: 0;
    transition: opacity ease 1s;
}

.show {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity ease 1s;
}

.show.active {
    transition: all ease 1s;
    opacity: 1;
}

.circle {
    position: fixed;
    transform-origin: center;
    height: 200px;
    width: 200px;
    /* border-color: blue; */
    border-radius: 50%;
    /* border-width: 30%; */
    /* border-style: solid; */
    animation: normal grow 8s;
    opacity: 0;
    transform: scale(0.1);
    z-index: -1;
}

@keyframes grow {
    0% {
        opacity: 1;
    }
    40% {
        transform: scale(3);
        opacity: 1;
    }

    90% {
        transform: scale(10)
    }
    100% {
        opacity: 0;
    }
}

.main-color {
    animation: normal grow-result 10s;
}

@keyframes grow-result {
    0% {
        opacity: 1;
    }


    90% {
        transform: scale(100);
    }
    100% {
        opacity: 1;
        transform: scale(100);
    }
}
