.container {
    width: 100vw;
    height: 100vh;
}

.circle {
    position: absolute;
    transform-origin: center;
    height: 200px;
    width: 200px;
    border-color: blue;
    border-radius: 50%;
    border-width: 30%;
    border-style: solid;
    animation: normal grow 8s;
    opacity: 0;
    transform: scale(0.1)
}

@keyframes grow {
    0% {
        opacity: 1;
    }
    40% {
        transform: scale(3)
    }

    90% {
        transform: scale(10)
    }
    100% {
        opacity: 0;
    }
}
